<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MainPage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor="#808080">
<form method="get" action="/migrate">
    <button type="submit">Migrate</button>
</form>
<form method="get" action="/rent">
    <button type="submit">Rent a car</button>
</form>
<form method="get" action="/report">
    <button type="submit">Report</button>
</form>
<form method="get" action="/rent">
    <button type="submit">Rent a car(with mongo)</button>
</form>
<form method="get" action="/report">
    <button type="submit">Report(with mongo)</button>
</form>
</body>
</html>