<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Renting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor="#808080">
<h1>Enter country:</h1>
<form th:action="@{/validate/country}">
    <p>Country(only Germany/Austria/Spain/France/Italy:<input type="text" th:name="country"/></p>
    <input type="submit"/>
</form>
<form th:action="@{/validate/country/mongo}">
    <p>FOR MONGO: Country(only Germany/Austria/Spain/France/Italy:<input type="text" th:name="country"/></p>
    <input type="submit"/>
</form>
</body>
</html>